body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2; 
	
	
	
}	

.conteiner {
	-webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;

}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    -webkit-clip-path: inset(100%);

            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-header {	
	height: 56px;
	position: relative;

}

.main-navigation {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	height: 100%;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;

	background-color: #ffffff; 


}
.main-header-logo {
	width: 240px;
    padding-left: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	position: absolute;
	
}
.main-header-logo img {

	width: 138px;
	height: 70px;
	display: block;
	margin: 0 auto;
}

.site-navigation {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 1200px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	list-style: none;
	

}

.site-navigation ul {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack:justify;
	    -ms-flex-pack:justify;
	        justify-content:space-between;

}
.site-navigation li {
    width: 25%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

.site-navigation li:nth-child(1) {
	text-align: left;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-left: 72px;
}

.site-navigation li:nth-child(2) {
 	text-align: left;
 	padding-left: 16px;
 }

.site-navigation li:nth-child(3) {
    text-align: right;
    padding-right: 18px;
}

.site-navigation li:nth-child(4) {
 	text-align: right;
 	padding-right: 73px;
 }

.site-navigation a {
	display: block;
	color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover {
	color: #81b3d2;
}


.site-navigation a:active {
	color: #b2b2b2;

}

.site-navigation a.chosen {
	color: #766357;

}

.intro img {
	margin-top: -56px;
}

.intro h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;

}


.features {
	margin-top: -200px;
	text-align: center;
	
}

.sedona-slogan{
	width: 450px;
	padding:0;
	margin:0;
	padding-left: 375px;
	padding-top: 35px;
	margin-bottom: 30px;
	text-align: center;
	

}

.reasons {
	margin: 0;
	padding: 0;
	margin-bottom: 50px;

}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch; 
	
	margin: 0;
	padding: 0;

	list-style: none;

}


.feature-item {
	width: 400px;
	height: 256px;
	background-color: #eeeeee;

}
.feature-item h2{
	margin: 0;
	padding-top: 8px;
	margin-bottom: 20px;
	font-size: 21px;
	font-weight: bold;
	line-height: 22px;
}

.order {
	margin: 0;
	margin-bottom: 20px;


}

.order:before,
.order:after {
	content: '';
	display: inline-block;
	vertical-align: middle;
	-webkit-box-sizing: border-box;
        box-sizing: border-box;
    height: 2px;
    border:solid #979797;
    border-width: 0 4px;
    margin: 0 5px;
}

.order.special:before,
.order.special:after {
	border-color:#bcd6e7;
}

.feature-item.special {
	width:100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;

	color: #ffffff;
	background-color: #81b3d2;

}

.img {
 	max-width: 100%;
 	max-height: 100%;
 	-o-object-fit: cover;
 	   object-fit: cover;
 }

.text {
	width: 400px;
	height: 232px;
	
	padding-top: 35px;
	text-align: center;
}



.feature-item-details {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: stretch;
	    -ms-flex-align: stretch;
	        align-items: stretch;
	-ms-flex-pack:distribute;
	    justify-content:space-around;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;

	list-style: none;
}

.detail {
	width: 400px;
	height: 270px;
	padding-top:61px;
	text-align: center;


}


.hotels-search {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;

	-webkit-box-align: center;

	    -ms-flex-align: center;

	        align-items: center;
	
	text-align: center;



}

.hotels-search h1 {
	padding-top: 28px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}
.hotels-search p{
	margin-top: 5px;


}

.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #766357; 
	border: none;


}

.button:focus,
.button:hover {
	background-color: #604e43; 
}


.button:active {
	color: #857871;
	background-color: #503e33; 

}
.hotels-search a {
	margin-top: 31px;
	padding-top:31px;

	height: 53px;
	width: 568px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;



}

.map {
	width: 1200px;
	height: 593px;

}

.main-footer {
	height: 120px;
	width: 1200px;

	margin-top: -120px;
	position: absolute;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	
	background-color: rgb(255, 255, 255, 0.9);

	

}

.footer-hashtag {
	width: 400px;
	-ms-flex-item-align: center;
	    -ms-grid-row-align: center;
	    align-self: center;
}

.sedona-hashtag {

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	

}
.footer-social {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	width: 400px;

}

.footer-social ul {
	width: 150px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	padding: 0;

	list-style: none;

	
}


.social-button {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;

	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
}

.social-button:focus,
.social-button:hover {
	background-color: #669ec0;

}
.social-button:active path{
	fill: #88b6d1;
	background-color: #5496bd;

}



.footer-creator {
	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-size: 14px;
	line-height: 26px;

	
}
.creator {
	padding-left: 8px;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.creator:focus path,
.creator:hover path {
	fill: #81b3d2;

}


.creator:active path {
	fill: #bdbbbc;

}



.modal-search {
	display: block;
	position: absolute;
	width: 568px;
	height: 395px;
	margin-left:316px;
	margin-top: -593px;
	color: #000000;
	background-color: #ffffff;
	-webkit-box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
	        box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2); 
}

.hotels-search-form {
	margin-top: 55px;
	margin-left: 55px;
	height: 286px;
	width: 458px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;

	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	 align-items: top;       
}

.hotels-search-item {
	height: 45px;
	margin: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;

	-webkit-box-pack: justify;

	    -ms-flex-pack: justify;

	        justify-content: space-between;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;


}
.hotels-search-item label {	
	height: 38px;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}


.hotels-search-item input {	
	text-transform: uppercase;
	font-weight: bold;
	
	outline: none;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;


}

.hotels-search-item.date {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	

}

.chosen-date{
	position: relative;
	

}

.chosen-date input[name="date-in"],
.chosen-date input[name="date-out"] {
	width: 340px;
	height: 32px;

}

.calendar svg{
	position: absolute;
	width: 21px;
	height: 22px;
	margin-left: 318px;
	margin-top: -30px;
	
}

.hotels-search-item.adults {
	width: 280px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.hotels-search-item.children {
	width: 178px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.chosen-adults,
.chosen-children {
	position: relative;
	width: 146px;
	height: 38px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;	

}

.chosen-adults{
	margin-right: 22px;
}

.chosen-children {
	margin-left: 26px;

}

.chosen-adults input[name="adults-count"],
.chosen-children input[name="children-count"] {
	padding: 0;
	width: 34px;
	height: 34px;
	text-align: center;

}

.count-btn {
	width: 38px;
	height: 38px;
	color: #a9a9a9;
	background-color: #f2f2f2;
	border:none;
}

.count-btn:hover,
.count-btn:focus {
	color: #000000;	
	
}

.count-btn:active {
	color: #81b3d2;
}

.minus,
.plus {
	padding: 0;
	font-size: 24px;
	font-weight: bold;
}

.hotels-search-item input::-webkit-input-placeholder {
	color: #000000;
}

.hotels-search-item input:-ms-input-placeholder {
	color: #000000;
}

.hotels-search-item input::-ms-input-placeholder {
	color: #000000;
}

.hotels-search-item input::placeholder {
	color: #000000;
}


.hotels-search-form input:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;

}

.hotels-search-form input:focus {
	background-color: #ffffff;
	border-color: #e5e5e5;
}

.calendar:focus path,
.calendar:hover path,
.calendar:focus rect,
.calendar:hover rect {
	fill: #000000;
}

.calendar:active path,
.calendar:active rect {
	fill: #81b3d2;

}

.search-button {
	width: 100%;
	height: 58px;
	padding: 0;
	margin-top: 30px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #81b3d2; 
	border: none;
	cursor: pointer;


}

.search-button:focus,
.search-button:hover {
	background-color: #669ec0; 
}

.search-button:active {
	color: #7aadcb;
	background-color: #5496bd; 
}

/*inner-page*/


.search-filters {
	width: 1200px;
	
	background-color: #5496bd; 
	background-image: url("../img/inner-filter-background.jpg");
	background-position: 0 -50px;
	background-repeat: no-repeat;
}


.filter {
	height: 220px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;


}
.about-accomodation {
	width: 495px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align:stretch;
	    -ms-flex-align:stretch;
	        align-items:stretch;
	margin-left: 73px;
	margin-right: 12px;
	
}

.filter fieldset {
	border: none;
	margin: 0;
	padding: 0;
	
}	


.filter legend {
	padding-top: 30px;
	margin-bottom: 25px;
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.filter ul {
	margin: 0;

	list-style: none;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;

}

.filter-option {
	width: 200px;
	margin-bottom: 23px; 
}

.filter-option label {
	position: relative;
	display: block;
	cursor: pointer;
	-webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}


.filter-input-checkbox + label::before {
	content: url("../img/checkbox-off.svg");
	width: 23px;
	height: 23px;
	position: absolute;
	left: -40px;

}

.filter-input-checkbox:checked + label::after {
	content: url("../img/checkbox-on.svg");
	position: absolute;
	left: -40px;
  
}
/*
.filter-input:disabled + label {
  content: url("../img/checkbox-block-icon");

  подумать
}*/


.filter-range {
	width: 330px;
	margin-right: 73px;
	padding-top: 30px;
	color: #ffffff;
	text-transform: uppercase;
}

.filter-range-title {
	margin-bottom: 9px;
	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;

	background: #ffffff;
	-webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.price-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
	width: 90px;
	padding-left: 65px;

}

.price-controls input {
	width: 50px;
	margin: 0;

	color: inherit;
	font: inherit;
	background: none;
	border: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;

	width: 4px;
	height: 4px;

	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
            box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.btn-transparent {
	display: block;
	margin: 0 auto;
	padding: 6px 35px;
	
	font-size: 14px;
	line-height: 20px;
	color: #ffffff;
	text-transform: uppercase;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.btn-transparent:hover {
	color: #000000;
	background: #ffffff;
}

.sort {
	height: 86px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.results h2 {
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;
	margin-left: 73px;
	margin-right: 40px;

}

.results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul.sort-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	    -ms-flex-direction: row;
	        flex-direction: row;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
}

.sort-list a {
	margin-left: 33px;
	font-size: 12px;
	line-height: 18px;
	color: #c6c6c6;

	
}

.sort-dir {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	
	-webkit-box-flex: 2;
	
	    -ms-flex-positive: 2;
	
	        flex-grow: 2;
	padding-left: 508px;/*15px лишних от предыдущего*/
	padding-right: 73px;

}

.up-dir:hover path,
.down-dir:hover path,
.up-dir:focus path,
.down-dir:focus path {
	fill: #81b3d2;
	
}

.up-dir:active path,
.down-dir:active path {
	fill: #000000;
	
}


.results-list {
	display: -webkit-box;
	display: -ms-flexbox;

	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0 ;
	padding: 0;

	list-style: none;
	
}

.results-item {
	height: 149px;

	border-top: 2px solid #e5e5e5;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;

}

.results-item:last-child {
	height: 147px;
	border-bottom: 2px solid #e5e5e5;
	margin-bottom: 120px;
	
}


.results-item-img {
	margin: 0;
	margin-right: 0px;/*через инспектор видно,что он все-равно остается....*/
	padding: 0;
	width: 240px;
	
}


.results-item-img img {
	width: 135px;
	height: 90px;
	padding-top: 28px;
	padding-left: 73px;
	padding-right: 32px;

}

.results-item-info {
	width: 258px;
	margin-right:  452px;/*должно быть 462, но маргин справа у картинки*/

	display: -webkit-box;
	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 
	-webkit-box-flex: 3; 
	    -ms-flex: 3; 
	        flex: 3;
}

.results-item-info h2 {
	margin: 0;
	margin-top: 15px;
	
}

.results-item-info p {
	margin: 0;
	margin-right: 39px;

}

.type-cost {
	width: 183px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 
}

.type-cost p {
	margin: 0;
	font-size: 14px;
	line-height: 21px;
}

.results-item-rating {
	margin:0;
	padding: 0;
	width: 240px;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center; 

}

.book {
	padding:0;
}

a.result-item {
	font: inherit;
	text-align: center;
	color: #000000;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	border: none;

}

a.result-item:focus,
a.result-item:hover {
	color: #81b3d2;
}


a.result-item:active {
	color: #b2b2b2;
	 
}


a.more {
	font: inherit;
	width: 110px;
	height: 27px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #81b3d2; 
	border: none;


}

a.more:focus,
a.more:hover {
	background-color: #669ec0; 
}


a.more:active {
	color: #7aadcb;
	background-color: #5496bd; 
}

.book {
	width: 142px;
	height: 27px;
	cursor: pointer;
}

.max-stars::before {
	content: " ";
	position: absolute;
	margin-bottom: 73px;
	margin-left: 81px;
	width: 87px;
	height: 17px;
	background-image: url("../img/star.svg");
	background-repeat: space;

}

.three-stars::before {
	width: 64px;
	margin-left: 104px;

}
.two-stars::before {
	width: 41px;
	margin-left: 127px;

}
.max-stars p {
	width: 110px;
	height: 27px;
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	margin-top: 61px;
	margin-left: 61px;
	text-align: center;

	color: #666666;
	background-color: #f2f2f2;
}