body {
	margin: 0 auto;
	padding: 0;
	width: 1200px;
	font-family: "PT Sans", Arial, sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2; 
	
	
	
}	

.conteiner {
	box-shadow: 0 -5px 15px 0 rgba(0, 0, 0, 0.2);
	background-color: #ffffff;

}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


.main-header {
	
	height: 56px;
	position: relative;


}

.main-navigation {

	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100%;

	font-size: 14px;
	font-weight: bold;
	line-height: 26px;


	background-color: #ffffff; 


}
.main-header-logo {
	width: 240px;
    padding-left: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
	position: absolute;
	
}
.main-header-logo img{

	width: 138px;
	height: 70px;
	display:block;
	margin: 0 auto;
}

.site-navigation {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 1200px;
	display: flex;
	align-items: stretch;
	justify-content: space-around;
	align-items: center;

	list-style: none;
	

}


 .site-navigation li {
 	flex-grow: 1;
 	text-align: center;


 }


 .site-navigation li:nth-child(3) {
 	
 	flex-grow: 2;
 	box-sizing: border-box;
 	text-align:right;
 	padding-right: 85px;


 	
 }

.site-navigation a {
	display: block;
	color: #000000;
}

.site-navigation a:focus,
.site-navigation a:hover {
	color: #81b3d2;
}


.site-navigation a:active {
	color: #b2b2b2;


}
.site-navigation a.chosen {
	color: #766357;


}

.intro img {
	margin-top:-56px;
}

.intro h1 {
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	text-align: center;

}




.features {
	
	margin-top: -180px;

	text-align: center;
	

}



.reasons{
	padding-top: 28px;
	padding-bottom: 37px;


}

.features-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content:space-between;
	align-items: stretch; 
	
	margin: 0;
	padding: 0;

	list-style: none;

}


.feature-item{

	width: 400px;
	height: 257px;
	background-color: #eeeeee;

}
.feature-item h2{
	font-size: 21px;
	font-weight: bold;
	line-height: 22px;


}

.order:before,
.order:after {
  content:'';
  display:inline-block;
  vertical-align:middle;
  box-sizing:border-box;
  height:2px;
  border:solid #979797;
  border-width:0 4px;
  margin:0 5px;
}

.order.special:before,
.order.special:after {
	 border-color:#bcd6e7;
}

.feature-item.special{
	width:100%;
	display: flex;
	align-items: stretch;

	color: #ffffff;
	background-color: #81b3d2;

}

 .img {
 	max-width: 100%;
 	max-height: 100%;
 	object-fit: cover;
 }

.text {
	width: 400px;
	height: 232px;
	
	padding-top: 35px;
	text-align: center;
}



.feature-item-details {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	justify-content:space-around;
	text-align: center;
	margin: 0;
	padding: 0;
	width: 100%;

	list-style: none;
}

.detail {
	width: 400px;
	height: 270px;
	padding-top:61px;
	text-align: center;


}


.hotels-search {

	display: flex;
	flex-direction: column;

	align-items: center;
	
	text-align: center;



}

.hotels-search h1{
	padding-top: 28px;
	
	font-size: 30px;
	font-weight: bold;
	line-height: 36px;
}
.hotels-search p{
	margin-top: 5px;


}
.button {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #766357; 
	border: none;


}

.button:focus,
.button:hover {
	background-color: #604e43; 
}


.button:active {
	color: #857871;
	background-color: #503e33; 


}
.hotels-search a{
	margin-top: 31px;
	padding-top:31px;

	height: 53px;
	width: 568px;
	
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;



}

.map {
	width: 1200px;
	height: 593px;

}

.main-footer {
	height: 120px;
	width: 1200px;

	margin-top: -120px;
	position: absolute;

	display: flex;
	justify-content: space-around;
	align-items: center;
	
	background-color:  rgb(255, 255, 255, 0.9);

	

}

.footer-hashtag {
	width: 400px;
	align-self: : center;
}

.sedona-hashtag {

	display: flex;
    justify-content: center;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;
	

}
.footer-social {
	display: flex;
    justify-content: center;
	width: 400px;

}

.footer-social ul{
	width: 150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	padding: 0;

	list-style: none;

	
}


.social-button  {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 46px;
	height: 48px;
	
	background-color: #81b3d2;
}

.social-button:focus,
.social-button:hover {
	
	background-color: #669ec0;

}
.social-button:active path{
	fill: #88b6d1;
	background-color: #5496bd;

}



.footer-creator {
	width: 400px;
	display: flex;
    justify-content: center;
	
	font-size: 14px;
	line-height: 26px;

	
}
.creator {
	padding-left: 8px;
}

.creator:focus path,
.creator:hover path{
	fill: #81b3d2;

}


.creator:active path{
	fill: #bdbbbc;

}



.modal-search {
	
	position: absolute;
	width: 568px;
	height: 395px;
	margin-left:316px;
	margin-top: -593px;
	color:#000000;
	background-color: #ffffff;
	box-shadow:0 -5px 15px 0 rgba(0, 0, 0, 0.2); 
}
.hotels-search-form {
	margin: 0;
	margin-top: 55px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.hotels-search-item {
	
	display: flex;
	
	justify-content: space-between;



}

.hotels-search-item label {
	
	font-weight: bold;
}


.hotels-search-item input {
	font: inherit;
	text-transform: uppercase;
	font-weight: bold;

	outline: none;
	background-color: #f2f2f2;
	border: 2px solid #f2f2f2;

}

.hotels-search-item input::placeholder {
	color: #000000;
}



.hotels-search-form input:hover {
	background-color: #ebebeb;
	border-color: #ebebeb;

}
.hotels-search-form input:focus {
	background-color: #ffffff;
	border-color: #e5e5e5;
}
.calendar:focus path,
.calendar:hover path,
.calendar:focus rect,
.calendar:hover rect{
	fill: #000000;
}

.calendar:active path,
.calendar:active rect{
	fill: #81b3d2;

}
/*
#adults{
	appearance: textfield;
}
#adults::inner-spin-button {
	display: none;
}*/

.search-button {
	
	width: 458px;
	height: 58px;
	margin-left: 56px;
	margin-top: 40px;
	font-size: 21px;
	font-weight: bold;
	line-height: 26px;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #81b3d2; 
	border: none;


}

.search-button:focus,
.search-button:hover {
	background-color: #669ec0; 
}


.search-button:active {
	color: #7aadcb;
	background-color: #5496bd; 
}



/*inner-page*/


.search-filters {
	width: 1200px;
	
	background-color: #5496bd; 
	background-image: url("../img/inner-filter-background.jpg");
	background-position: 0 -50px;
	background-repeat: no-repeat;
}

.filter {
	height: 220px;
	display: flex;
	flex-direction: row;



}

.filter fieldset {
	border: none;
	

}
.filter legend {
	font-size: 16px;
	line-height: 21px;
	font-weight: bold;
	color: #ffffff;
}

.filter ul {

	list-style: none;
	font-size: 14px;
	line-height: 21px;
	color: #ffffff;
}

.filter-option {
	width: 300px;
	padding-left: 
}

.filter-option label {
  position: relative;

  display: block;

  cursor: pointer;
  user-select: none;
}



.filter-input-checkbox + label::before {
  content: url("../img/checkbox-off.svg");

  width: 23px;
  height: 23px;
  position: absolute;
  left: -40px;


  
}

.filter-input-checkbox:checked + label::after {
  content: url("../img/checkbox-on.svg");
  
  position: absolute;
  left: -40px;

  
}
/*
.filter-input:disabled + label {
  content: url("../img/checkbox-block-icon");

  подумать
}*/




.filter-range {
  width: 330px;
  margin-top: 30px;
  margin-right: 73px;


  color: #ffffff;
  text-transform: uppercase;
}

.filter-range-title {
  margin-bottom: 9px;

  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
}

.price-controls {
  position: relative;
  
  height: 36px;
  margin-bottom: 20px;

  font-size: 0;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.price-controls::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;

  width: 2px;
  height: 22px;

  background: #ffffff;
  transform: translate(-50%, -50%);
}

.price-controls label {
  display: inline-block;

  font-size: 14px;
  line-height: 38px;
  vertical-align: top;

  cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
  width: 90px;
  padding-left: 65px;
}

.price-controls input {
  width: 50px;
  margin: 0;

  color: inherit;
  font: inherit;

  background: none;
  border: none;
}

.range-controls {
  position: relative;

  margin-bottom: 32px;
}

.range-controls .scale {
  height: 2px;

  background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
  width: 80%;
  height: 2px;

  background: #ffffff;
}

.range-toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.range-toggle:hover {
  background: #1c4f80;
}

.range-toggle-min {
  left: 0;
}

.range-toggle-max {
  left: 80%;
}

.btn-transparent {
  display: block;
  margin: 0 auto;
  padding: 6px 35px;

  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;

  background: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

.btn-transparent:hover {
  color: #000000;

  background: #ffffff;
}


.results h2{
	font-size: 21px;
	line-height: 26px;
	font-weight: bold;


}

.results {
	margin-bottom: 120px;
	/*разобраться с футером*/

} 

.results ul{
	list-style: none;
	margin:0;
	padding: 0;
}


.sort {
	display: flex;
	flex-direction: row;
}

.sort-list {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.sort-list a {
	margin-left: 30px;
	font-size: 12px;
	line-height: 18px;
	color: #c6c6c6;

	
}

.sort-list a:hover,
.sort-list a:focus {
	
	color: #81b3d2;
	border-bottom: 2px dashed #81b3d2;
}

.sort-list a:active {
	
	color: #000000;
	border-bottom: none;
}


.results-list{

	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	margin: 0 ;
	padding: 0;


	list-style: none;
	
	
}

.results-item{
	
	height: 151px;

	border-top: 2px solid #e5e5e5;
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.results-item:last-child {
	border-bottom: 2px solid #e5e5e5;
	
}


.results-item-img {

	width: 135px;
	height: 90px;
	margin-left: 50px;

	

}

.results-item-info {
	width: 258px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center; 
	flex:3;
}



.result-item{
	font: inherit;

	text-align: center;
	color: #000000;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	
	border: none;


}

.result-item:focus,
.result-item:hover {
	color: #81b3d2;
}


.result-item:active {
	color: #b2b2b2;
	 
}
.results-item-rating {

	color:#666666;
	background-color: #f2f2f2;
}
.results-item span{
	margin-right: 
	font-size: 14px;
	line-height: 21px;

}
a.more {
	font: inherit;

	text-align: center;
	color: #ffffff;
	vertical-align: middle;
	text-transform: uppercase;
	font-weight: bold;

	background-color: #81b3d2; 
	border: none;


}

a.more:focus,
a.more:hover {
	background-color: #669ec0; 
}


a.more:active {
	color: #7aadcb;
	background-color: #5496bd; 
}

